.section-title {
    font-size: 4rem;
    font-weight: 800;
    color: #4831D4;
    margin-bottom: 1.5rem;
  }
  
  .section-text {
    max-width: 600px;
    color: #000000;
    text-align: justify;
  }
  